@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  overflow: hidden;
  color: #fff;
}

.dialog::backdrop {
  background-color: #0000008a;
  backdrop-filter: blur(2px);
}

dialog[open] {
  position: relative;
}

.hide {
  animation: fadeOut 1s ease !important;
}

.top-to-bottom,
.bottom-to-top,
.right-to-left,
.left-to-right {
  animation: topToBottomIn 1s ease;
}
@keyframes fadeIn {
  0% {
    transform: translateX(-800%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800%);
  }
}

@keyframes topToBottomIn {
  0% {
    transform: translateX(-800%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800%);
  }
}
